body, legend {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

section {
    margin: 0 0 30px 0;
}

pre {
    margin: 0;
}

.author, .affiliation, .publication {
    text-align: center;
    margin: 3px
}

.form-check-input {
    border-color: #a3a3a3;
    border-width: 2px;
}

.form-background{
    background-color: #f0f0f0;
}

.full-width {
    width: 100%;
}

.section-title{
    font-size: 2rem;
    margin:15px 0;
}

.form-check{
    margin: 0 0 15px 0;
}

.form-label{
    margin: 0 0 20px 0;
}

#title{
    font-size: 2.7rem;
    margin:0 0 20px 0;
}

#authors{
    font-size: 1rem;
    margin:0 0 10px 0;
}

#affiliations{
    font-size: 1rem;
    margin:0 0 10px 0;
}

#supplementary-materials{
    font-size: 1rem;
    margin:15px 0 15px 0;
}

.demo1-container {
    background-color: bisque;
}

#citation {
    background-color: #eeedee;
    padding: 2rem 4rem;
}